.row-2 {
    background-color: aqua;
    height: 100px;
}

.heading-title h1 {
    font-family: sans-serif;
    font-size: 55px;

}

.heading-title {
    padding: 20px;
}

.searchBar,
.searchButton {
    padding: 35px;
}

.searchBar input {
    background-color: whitesmoke;
    padding: 5px;
    position: relative;
    border-radius: 16px;
    width: 100%;
}

.searchIconBtn {
    border-top: none;
    border-bottom: none;
    border-right: none;

    border-left-color: rgb(234, 204, 204);
    position: relative;
    right: -431px;
    top: -36px;
    height: 34px;

}

.searchButton button {
    background-color: rgb(54, 49, 49);
    border-radius: 16px;
    text-transform: uppercase;
}


.extremeRight-header {
    width: 100%;
}

.accountHolder {
    text-align: right;
    text-transform: capitalize;
    font-size: 20px;
    height: 50%;
    padding-right: 25px;
    padding-top: 20px;
}

.nav-body {
    height: 50%;
}

.nav-inner-body {
    margin: auto;
    padding-top: 14px;
    height: 100%;
}

.nav-inner-body>a,
.form-group a {
    padding-right: 2px;
    padding-left: 2px;
    color: black;
    text-decoration: none;
}

.nav-inner-body .settingLink {
    border: solid 1px black;
    border-top: none;
    border-bottom: none;
    padding: 0 10px 0 10px;
}




.mini-header {
    background-color: rgb(216, 231, 244);
    height: 50px;

}

.row-miniheader {
    height: 100%;

}

.left-miniHeader {
    height: 100%;
    text-align: left;
}



.form-group label {
    padding-top: 10px;
}

.friendRequest {
    color: rgb(102, 102, 99);
}

.friendRequestIcon {
    opacity: 0.4;
}

/********************** main body *******************/


.inner-main-body {
    display: flex;
    width: 97%;
    margin: 1.5%;
}

/****************** LEFT MAIN BODY *****************/
.left-main-body {
    width: 20%;
    height: 450px;
    margin: 0;
}

.left-main-body-top {
    background-color: rebeccapurple;
    height: 40%;
    width: 100%;
}

.left-top-title,
.left-top-body {
    height: 33.33%;
    width: 100%;
}

.left-top-title,
.left-bottom-title {
    position: relative;
    background-color: rgb(13, 206, 206);
    color: white;
    display: inline-block;
    padding: 20px 0 0 20px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;

}

.left-top-body,
.left-bottom-body {
    background-color: rgb(216, 231, 244);

    padding: 10px 0 0 20px;
}

.left-top-body p,
.left-bottom-body p {
    font-weight: bold;
}

.downloadBtn,
.downloadBtn-bottom {
    opacity: 0.3;
    position: relative;
    left: 202px;
    top: -50px
}

.left-bottom-body:nth-child(3) {
    background-color: whitesmoke;
}

.left-main-body-bottom {
    background-color: rgb(216, 231, 244);
    height: 60%;
    width: 100%;
}

.left-bottom-title,
.left-bottom-body {
    height: 20%;
    width: 100%;
}

/****************** CENTER MAIN BODY *****************/
.center-main-body {
    background-color: white;
    width: 60%;
    margin: 0 15px 0 15px;
}

.center-top-content {
    display: flex;
    margin-right: 5px;
    height: 100px;
    width: 100%;
}


.center-main-body-top {
    height: 143px;
    border: 5px solid rgb(5, 171, 171);
    border-top: none;
    border-left: none;
    border-right: none;

}



.headingSections {
    text-align: center;
    /* height: 20%; */
    margin-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.headingSubSections {
    height: 50%;
    text-align: center;
    display: flex;
    width: 100%;
}


.all-members {
    background-color: aqua !important;
}

.leftSubSection,
.rightSubSection {
    background-color: rgb(179, 184, 189);
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    padding-top: 10px;
    margin: 0 15px 0 15px;
    height: 100%;
    width: 50%;
}


.center-top-left-member-sections,
.center-top-right-member-sections {

    background-color: rgb(216, 231, 244);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    height: 82px;
    width: 50%;
}

.center-top-left-member-sections {
    margin-right: 2px;
}

.center-top-right-member-sections {
    margin-left: 2px;
}

.afterMainContent {
    size: 3px;
}


/****************** CENTER MAIN- BOTTOM BODY *****************/

.body-row {
    height: 150px;
    width: 100%;
}

.member-content {
    height: 100%;
    width: 100%;
}

.content-1 {
    margin-left: 13px;
    height: 100%;
    width: 96.5%;
}

.content-first {
    height: 100%;
}

.img-1 {
    height: 100%;
}

.member-1 {
    height: 100%;
}

#content-1 {
    text-align: center;
    margin: auto;
    width: 96.5%;
    height: 150px;
}

img {
    margin: auto;
    height: 95%;
    width: 85%;
}

.description {
    height: 60%;
    width: 100%;
}


/****************** RIGHT MAIN BODY *****************/

.right-main-body {
    background-color: rgb(216, 231, 244);
    width: 20%;
    height: 10%;
    margin: 0;
}


/********************************* Footer **********************************/
footer {
    background-color: rgb(57, 55, 55);
}


.footer-content-links .links-content ul {

    display: flex;
    margin-right: 30px;

}

.footer-content-links .links-content ul>li {
    color: white;
    padding-right: 25px;
    padding-top: 20px;

}

.links-content ul li:first-child {
    list-style-type: none;
}

.footer-content-links div a {
    color: white;
    text-decoration: none;

}


.right-footer-content {
    color: white;
    text-align: left;
}

.right-footer-content label {
    padding-left: 74px;
    padding-top: 20px;
}